# Ignore contents of cleaned folder but keep the folder itself
cleaned/*
!cleaned/.gitkeep
venv/
.DS_Store
__pycache__/
*.pyc
node_modules/
dist/
.env
.python-version
.vscode/
frontend/node_modules/
frontend/dist/
backend/__pycache__/
/.idea/copilot.data.migration.ask2agent.xml
/.idea/misc.xml
/.idea/modules.xml
/package-lock.json
/package.json
